nav {
    position: fixed;
    .Anqara {
       position: relative;
       margin: 0 auto;
        img {
            position: relative;
            width: 100%;
            height: 500px;
            min-width: 1200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #000;
            object-fit: cover;        
        }
    }
    .menyu_restorand {
        width: 45%;
        margin-top: 15px;
        cursor: pointer;
        .menyu_content01 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        .menyu_content {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: 500;
            font-size: 25px;
            font-style: normal;
            color: rgba(0, 0, 0, 0.703);
            
        }
    }
}

.container-lg {
    border: 1px solid #fff;
    box-shadow: -3px 11px 10px rgba(0, 0, 0, 0.27);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    max-width: 98%;
    .container {
        .nav-content {
            display: flex;
            justify-content: space-between;
            .navbar-brand {
                font-size: 1.5rem;
                font-weight: bold;
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            form {
                .form-control {
                    width: 25rem;
                }
                button {
                     width: 7rem;
                     height: 2.8rem;
                     font-size: 1rem;
                     font-weight: bold;
                     color: #fff;
                     background-color: #dc3545;
                }
             }
             .btnm {
                button {
                    width: 110px;
                    height: 2.8rem;
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
        }
        
    }

}
.menu_component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;  
    padding-top: 25px;
    padding-bottom: 25px;
    width: 60%;
}
