
.container9-fluid {
    width:1420px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-wrap: wrap;
        overflow: scroll;
        // cursor: pointer;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(5px);
        z-index: 1000;
    .das {
        width: 380px;
        min-height: 500px;
        border: 1px solid #fff;
        // box-shadow: 0px 4px 12px rgba(0 0 0 / 12%);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8%);
        border-radius: 55px 8px;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0.324);
        img {
            width: 100%;
            border-radius: 55px 8px;
        }
        .product_steak {
            text-align: center;
            line-height: 100%;
            color: rgba(255, 255, 255, 0.581);
            p {
                font-size: 24px;
                font-weight: 600;
                margin-top: 15px;
            }
        }
        .product_obmen {
            p {
                font-size: 22px;
                font-family: 'Roboto', sans-serif;
                margin: 0;
                padding-left: 12px;
                color: rgba(255, 255, 255, 0.666);
            }
            .product_radio1 {
                margin-left: 10px;
                hr {
                    width: 95%;
                }
                span {
                    margin-left: 10px;
                }
            }
            .product_radio2 {
                margin-left: 10px;
                hr {
                    width: 95%; 
                }
                span {
                    margin-left: 10px;
                }
            }
            .product_increment1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    margin-right: 15px;
                }
                .product_increment2 {
                    span {
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    .btn {
                        width: 56px;
                        height: 28px;
                        margin: 5px;
                        font-size: 44px;
                        justify-content: center;
                        align-items: center;
                        // display: flex;
                        flex-wrap:  wrap-reverse;
                        flex-direction: column-reverse;
                        padding-bottom: 20px;
                    }
                }
            }
            .btm[type="submit"] {
                width: 93%;
                height: 46px;
                margin-top: 14px;
                margin-bottom: 20px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                border-radius: 10px;
                background-color: darkcyan;
                color: #fff;
                border: none;
                cursor: pointer;
                margin-left: 5px;
                background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
                transition: 0.4s;
                
                background-position: 0;
            }
            .btm[type="submit"]:hover{
                background-position: 100% 0%;
                transform: translateY(-5px);
            
            }
        }
    }
}
